<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Emission Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/js/app.js"></script>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        #co-plot, #gas-plot, #safety-rating-plot {
            position: absolute;
            width: 90%;
            height: 33.33%; 
        }

        #co-plot { top: 0; }
        #gas-plot { top: 33.33%; }
        #safety-rating-plot { top: 66.66%; }
    </style>
</head>
<body>
    <div id="co-plot"></div>

   
    <div id="gas-plot"></div>

    
    <div id="safety-rating-plot"></div>
</body>
</html>
